<div>
<button type="button" onclick="history.back()" class="ui button">
  <i class="angle left icon"></i> Back</button><br><br>
</div>

<div class="ui grid">
  <div class="column eight wide">
    <h1 class="ui header">
      Edit redirect
      <div class="sub header" ng-show="post.guid">{{siteUrl}}{{post.guid}}</div>
    </h1>
</div>
<div class="column eight wide">
<div class="ui horizontal statistic" ng-show="post.count">
  <div class="value">
    {{post.count}}
  </div>
  <div class="label">
    Clicks
  </div>
</div>
</div>

</div>

<div class="ui top attached segment">
  <p>Edit</p>
</div>
<form class="ui form attached segment"
  semantic-form
  form-validation="formValidation"
  form-submit="updateRedirect()">

<div class="ui error message"><ul class="list"></ul></div>

<div class="field">
  <label>Title</label>
  <input id="title" type="text" ng-model="post.title">
  </div>
<div class="field">
  <label>Url</label>
  <input id="url" type="text" ng-model="post.url">
  </div>
<div class="field">
  <label>Guid</label>
  <input type="text" disabled ng-model="post.guid">
  </div>
<div class="field">
  <label>Created</label>
  <input type="text" disabled ng-model="post.timestamp">
  </div>

<button type="button" class="ui submit button primary"><i class="check icon"></i>Update</button>

<button type="button" class="ui red button" ng-click="removeRedirect(post.id)"><i class="delete icon"></i>Delete</button>

</form>
